@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'figtree', 'inter', sans-serif;
}

body {
  background-color: #040404;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88%;
  height: 68%;
  min-width: 900px;
  background-color: #181818;
  border-radius: 24px;
  box-shadow: 0 8px 4px #0e0e0e, 0 0 32px #010101;
  padding: 14px;

  & .keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    gap: 1%;

    & .key-row {
      height: 50%;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: 0.4rem;

      & .combined-key {
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 0.2rem;
      }

      .key {

        /* width: calc(68px + var(--key-width)); */

        flex: 1 0 auto;
        height: 100%;
        display: flex;
        background-color: #1f2120;
        border-radius: 8px;
        position: relative;
        padding: 0.4rem 0.6rem;
        font-size: .8em;
        font-weight: 500;
        color: #eeeeeecc;
        flex-direction: column;
        gap: 0.5rem;

        outline: 1px solid #01010111;
        outline-color: #01010144;
        box-shadow: 0 2px 4px #01010188,
          inset 0 0 8px #161817;
        transition: filter 0.3s ease,
          transform 0.1s ease,
          outline-color 0.1s ease,
          box-shadow 0.1s ease;

        &:hover {
          filter: brightness(1.05);
        }

        &:active,
        &.active {
          outline-color: #01010111;
          transform: translateY(1px);
          filter: brightness(1.0);

          box-shadow:

            0 0px 2px #01010188,
            inset 0 1px 2px #00000033;
        }
      }
    }
  }
}